body {
    margin:0;
    font-family: ariel;
    background-color: #121222;
    color: #C4C4C4;
}

.font_size{
     font-size: 25px;
     font-family: Sans-serif;
     color: #C4C4C4;
}

img {
    width: 100%;
    max-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.7;
}

#id_num {
    color:#C4C4C4;
    background-color: #121222;
    border-color: #C4C4C4;
}

#sumbit_button{
    background: #C4C4C4;
    color: #121222;
    margin-top: 2%;
}
.inputMsg{
     margin-top: 2%;
}
.input_id{
    margin-top: 5%;
    text-align: center;
   /*  filter: blur(3px);*/
}

#msgServer{
    color:#C4C4C4;
    position: block;
    margin-top: 1%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  z-index: 100;
  margin-top: -9%;
  margin-left: 47%;
}

#loaderVisible{
  visibility:hidden;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
