<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">

    <title>ID valid</title>
</head>
<body>
    <img src="static/img/numbers.jpg">
    <div class="input_id" id="form" >
        <label for ="id_num" class="font_size">Insert Your ID Number: </label>
        <div class="inputMsg">
            <input id="id_num" class="font_size" type="text" required >
            <div id="msgServer" class="font_size"></div>
        </div>
        <button id="sumbit_button" class="font_size" >submit</button>

    </div>

<script type="module" src="static/scripts/client_validataion.js"></script>
</body>
</html>